.tile {
  border: 1px solid black;
  border-radius: 100%;
  min-width: 50px;
  aspect-ratio: 1;
  background-color: white;
}

.grid {
  display: grid;
  gap: 2px;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
}

.ghost-grid {
  display: grid;
  gap: 2px;
}

@keyframes blinker {
  50% {
    border-color: white;
  }
}